.carts{
    display: grid;
   
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
    margin: 50px 20px;
}

.topic-title{
    text-align: center;
   color: blueviolet;
}

.topic-title h2{
    font-size: 3rem;
}
.color-gray{
    color: darkgray;
    font-size: 2rem;
}

/* max-width 792px */

@media (max-width:792px) {
    .carts{
        grid-template-columns: repeat(2 ,1fr);  
    }
}
@media (max-width:592px) {
    .carts{
        grid-template-columns: auto  
    }
}