.navbar {
    background: #0056D2;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    max-width: 1240px;
    margin: auto;
   
}

.logo img{
    height: 45px;
}

.links a{
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 10px 15px;
    transition: .3s;
}
.links a:hover{
    color: #ED3680;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}